<h1>My Profile Information</h1>

<table>
  <% @profiles.each do |profile| %>
  <tr>
    <td><b>Name</b></td>
    <td><%= profile.name %></td>
  </tr>
  <tr>
    <td><b>Address</b></td>
    <td><%= profile.address %></td>
  </tr>
  <tr>
    <td><b>Phone</b></td>
    <td><%= profile.phone %></td>
  </tr>
  <tr>
    <td><b>Email</b></td>
    <td><%= profile.email %></td>
  </tr>
  <tr>
    <td><%= link_to "Show", profile  %></td>
    <td><%= link_to "Edit", edit_profile_path(profile) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add Profile", new_profile_path %>
<%= link_to "Home", "/" %>
<%= link_to "Sign out", "/employees/sign_out" %>


